# 1️⃣ Verifica que estés en la carpeta del proyecto
#cd MiMinimarketApp

# 2️⃣ Crea el entorno virtual
#python -m venv venv

# 3️⃣ Activa el entorno virtual
# En Windows:
#venv\Scripts\activate

# 4️⃣ Instala las librerías del proyecto
#pip install -r requirements.txt

# 5️⃣ Ejecuta la aplicación web
#streamlit run app.py

# Dependencias base para MiMinimarketApp
streamlit==1.50.0
pandas==2.3.3
numpy==2.3.3
matplotlib==3.10.7
seaborn==0.13.2
openpyxl==3.1.5

# Herramientas complementarias y educativas
python-dateutil==2.9.0.post0
plotly==6.3.1
scipy==1.16.2
statsmodels==0.14.5

#charset-normalizer        3.4.4
#jupyter_client            8.6.3
#jupyter_core              5.8.1
#matplotlib-inline         0.1.7
#scikit-learn              1.7.2

#python -m pip install --upgrade pip